#main-nav {
  background: #1D8CA0;
}
#main-nav ul {
  width: 100%;
}
#main-nav li {
  float: left;
  padding: 14px;
  display: block;
}
#main-nav a {
  text-decoration: none;
}

#main-nav ul::after {
  content: "";
  display: block;
  clear: both;
}
